.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-space-top: 9px;
    width: 100%;
    height: var(--height-default);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    box-shadow: var(--box-shadow-default);
}

.inner {
    width: var(--width-default);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 24px 0px 20px;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    display: inline-flex;
}

.action {
    display: inline-flex;
    align-items: center;
}
.uploadButton {
}
.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 4px;
    cursor: pointer;
    margin: 0 6px;
}

.badge {
    position: absolute;
    top: -3px;
    right: -6px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}

.user-avatar {
    position: relative;
    height: 34px;
    width: 34px;
    margin-left: 20px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #909195;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    margin-left: 12px;
    background-color: transparent;
    padding: 0 8px;
    &:hover {
        cursor: pointer;
    }
}
