.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-space-top: 9px;
    width: 100%;
    height: var(--height-default);
    display: flex;
    justify-content: center;
    box-shadow: var(--box-shadow-default);
}

.inner {
    width: var(--width-default);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 24px 0px 20px;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.action {
    display: inline-flex;
    align-items: center;
}
.action-btn {
    height: 32px;
    width: 32px;
    margin-left: 16px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}
.user-avatar {
    height: 32px;
    width: 32px;
    margin-left: 20px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #909195;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    margin-left: 12px;
    background-color: transparent;
    padding: 0 8px;
    &:hover {
        cursor: pointer;
    }
}

.MessageIcon {
}

.message-btn {
    padding: 3px 3px 0;
}
